openapi: 3.0.4
info:
  title: Rhyming Words
  description: >-
    Word Rhymes is a simple tool for getting word rhymes. It returns a list of
    rhyming words.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/wordrhymes:
    get:
      summary: Get Rhyming Words
      description: Get a list of words that rhyme with the specified word
      operationId: wordrhymes
      parameters:
        - name: word
          in: query
          schema:
            type: string
          required: true
          description: The word for which you want to get rhyming words
          example: blue
        - name: limit
          in: query
          schema:
            type: integer
          required: false
          description: Limit the number of word rhymes returned
          example: 30
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  word: blue
                  rhymeCount: 10
                  rhymes:
                    - deblois
                    - ballou
                    - bellew
                    - carilou
                    - chaloux
                    - clue
                    - flew
                    - flu
                    - flue
                    - glew
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
